.container{
  width: 100%;
}

header{
  background-image: url("../../../assets/backgroud-home.jpg");
  background-size: cover;
  background-position: center;
  height: 20em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.header-title{
  margin-left: 1em;
  font-family: 'Aldrich';
  font-size: 4.5em;
  color: white;
  text-shadow: 5px 5px black;
  animation: animate 0.15s linear normal;
}

.content{
  width: 100%;
  margin-top: 1rem;
}

.content-title{
  width: 100%;
}

.content-title h1{
  margin-left: 1rem;
  font-weight: 500;
}

.cards{
  width: 100%;
  margin:1rem auto 1rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card{
  width: 10rem;
  height: 8rem;
  background-color: deepskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  margin:.5rem;
}

.card:hover{
  transform: scale(1.05);
  transition-duration: 1s;
}

.card-text{
  width: 90%;
  background-color: aliceblue;
  text-align: center;
  font-weight: 500;
  border-radius: .5rem;
}

.card-icon{
  margin-top: .5rem;
  transform: scale(3);
}

a {
  text-decoration: none;
}

@keyframes animate{
  0%{
   transform: scale(0.2);
  }
  50%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}


@media only screen and (max-width:768px){

  .header{
    height: 50vh;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .header-title{
    font-size: 3em;
    margin-left: .5rem;
  }
  .cards{
    justify-content: space-around;
  }
}
