<section class="container">
  <header>
    <h1><i class="fa fa-rocket"></i> Projetos</h1>
  </header>
  <main>
    <p>
      Esses são os meus projetos que gostaria de compartilhar. Eu os desenvolvi utilizando algumas das
      tecnologias que tenho aprendido ao longo do tempo.
    </p>
    <p>
      Fique a vontade para ver e testar!
    </p>
    <section class="projetos">
      <div class="cards">
        <div class="card mat-elevation-z4" routerLink="/projetos/myiot">
          <div class="card-header">
            <h4>MyIot</h4>
            <span>Plataforma para controle de dispositivos IOT</span>
          </div>
          <div class="card-content">
            <img src="assets/img/myiot-principal.jpg" alt="Imagem de apresentação do projeto">
            <span>Veja Mais</span>
          </div>
        </div>

        <div class="card mat-elevation-z4" routerLink="/projetos/samcs">
          <div class="card-header">
            <h4>SAMCS</h4>
            <span>Sistema de gerenciamento e controle de acesso escolar</span>
          </div>
          <div class="card-content">
            <img src="assets/img/samcs-principal.jpg" alt="Imagem de apresentacao do projeto">
            <span>Veja Mais</span>
          </div>
        </div>
      </div>
    </section>

  </main>
</section>
