.container{
  width: 100%;
  height: auto;

}

.div-header{
  background-image: url("../../../assets/backgroud-home.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  margin:auto auto;
  width: 100vw;
  height: 90vh;
  color: white;
  text-shadow: 5px 5px black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.myname{

  font-family: 'Aldrich';
  font-size: 4.5em;
  margin-top: 3em;
  margin-bottom: 6vw;
}

.myfunction{
  font-family: 'Aldrich';
  font-size: 3em;
}


@media only screen and (max-width: 768px){

  .myname{
    font-size: 3.5em;
    line-height: 1em;
  }

  .myfunction{
    font-size: 2em;
  }

}


