<section class="container">
  <header>
    <img class="avatar" src="assets/img/avatar.png" alt="Avatar">
    <h1>Douglas Ferreira</h1>
    <h2>Desenvolvedor fullstack</h2>
  </header>

  <main>
    <section class="apresentacao">
      <p>Olá, meu nome é <strong>Douglas Ferreira</strong>, sou aficionado por tecnologia e programação, focado em
        <strong>java</strong> ,
        <strong>Spring Framework</strong> e <strong>Angular Framework</strong>
      </p>
    </section>

    <section class="ultimos-projetos">
      <h3>Meus últimos projetos</h3>
      <div class="cards">
        <div class="card mat-elevation-z4" routerLink="/projetos/myiot">
          <div class="card-header">
            <h4>MyIot</h4>
            <span>Plataforma para controle de dispositivos IOT</span>
          </div>
          <div class="card-content">
            <img src="assets/img/myiot-principal.jpg" alt="Imagem de apresentação do projeto">
            <span>Veja Mais</span>
          </div>
        </div>

        <div class="card mat-elevation-z4" routerLink="/projetos/samcs">
          <div class="card-header">
            <h4>SAMCS</h4>
            <span>Sistema de gerenciamento e controle de acesso escolar</span>
          </div>
          <div class="card-content">
            <img src="assets/img/samcs-principal.jpg" alt="Imagem de apresentacao do projeto">
            <span>Veja Mais</span>
          </div>
        </div>
      </div>
    </section>

  </main>
</section>
