<div class="container">
  <div class="timeline">

    <mat-grid-list
      class="timeline-grid"
      cols="41"
      rowHeight="100px"
      gutterSize="10px"
    >

    <mat-grid-tile
        class="timeline-grid-study-title"
        [colspan]="20"
        [rowspan]="1"
      >
      <span class="timeline-grid-title-text">Cursos</span>
      </mat-grid-tile>

      <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
    >
    </mat-grid-tile>

      <mat-grid-tile
        class="timeline-grid-work-title"
        [colspan]="20"
        [rowspan]="1"
      >
      <span class="timeline-grid-title-text">Vida profissional</span>
      </mat-grid-tile>

      <mat-grid-tile
        class="timeline-grid-study"
        [colspan]="20"
        [rowspan]="1"
      >
      <div class="timeline-grid-itens">
        <div class="timeline-grid-study-item">
          <h4 class="study-modality-key">Modalidade:</h4>
          <h4 class="study-modality-value">Aprendizage Industrial</h4>
        </div>
        <div class="timeline-grid-study-item">
          <h4 class="study-modality-key">Curso:</h4>
          <h4 class="study-modality-value">Eletricista de manutenção eletroeletrônica</h4>
        </div>
        <div class="timeline-grid-study-item">
          <h4 class="study-modality-key">Escola:</h4>
          <h4 class="study-modality-value">SENAI Antônio Ermírio de Moraes</h4>
        </div>
        <div class="timeline-grid-study-item">
          <h4 class="study-modality-key">Carga horária</h4>
          <h4 class="study-modality-value">???</h4>
        </div>
      </div>

      </mat-grid-tile>

      <mat-grid-tile
      class="timeline-grid-line"
      [colspan]="1"
      [rowspan]="10"
    >
    </mat-grid-tile>

      <mat-grid-tile
      class="timeline-grid-disable"
      [colspan]="20"
      [rowspan]="1"
    >
    </mat-grid-tile>

    <mat-grid-tile
      class="timeline-grid-disable"
      [colspan]="20"
      [rowspan]="1"
    >
    </mat-grid-tile>


    <mat-grid-tile
      class="timeline-grid-work"
      [colspan]="20"
      [rowspan]="1"
    >

    </mat-grid-tile>

    <!-- Init -->
    <mat-grid-tile
    class="timeline-grid-study"
    [colspan]="20"
    [rowspan]="1"
  >
  <div class="timeline-grid-itens">
    <div class="timeline-grid-study-item">
      <h4 class="study-modality-key">Modalidade:</h4>
      <h4 class="study-modality-value">Técnico</h4>
    </div>
    <div class="timeline-grid-study-item">
      <h4 class="study-modality-key">Curso:</h4>
      <h4 class="study-modality-value">Eletroeletrônica</h4>
    </div>
    <div class="timeline-grid-study-item">
      <h4 class="study-modality-key">Escola:</h4>
      <h4 class="study-modality-value">SENAI Antônio Ermírio de Moraes</h4>
    </div>
    <div class="timeline-grid-study-item">
      <h4 class="study-modality-key">Carga horária</h4>
      <h4 class="study-modality-value">??/</h4>
    </div>
  </div>
  </mat-grid-tile>

  <mat-grid-tile
    class="timeline-grid-disable"
    [colspan]="20"
    [rowspan]="1"
  >
  </mat-grid-tile>

  <mat-grid-tile
  class="timeline-grid-disable"
  [colspan]="20"
  [rowspan]="1"
>
</mat-grid-tile>

<mat-grid-tile
  class="timeline-grid-work"
  [colspan]="20"
  [rowspan]="1"
>
</mat-grid-tile>
<!-- final -->

 <!-- Init -->
 <mat-grid-tile
 class="timeline-grid-study"
 [colspan]="20"
 [rowspan]="1"
>
<div class="timeline-grid-itens">
  <div class="timeline-grid-study-item">
    <h4 class="study-modality-key">Modalidade:</h4>
    <h4 class="study-modality-value">Tecnologia</h4>
  </div>
  <div class="timeline-grid-study-item">
    <h4 class="study-modality-key">Curso:</h4>
    <h4 class="study-modality-value">Automação Industrial</h4>
  </div>
  <div class="timeline-grid-study-item">
    <h4 class="study-modality-key">Escola:</h4>
    <h4 class="study-modality-value">Universidade Paulista</h4>
  </div>
  <div class="timeline-grid-study-item">
    <h4 class="study-modality-key">Carga horária</h4>
    <h4 class="study-modality-value">???</h4>
  </div>
</div>
</mat-grid-tile>

<mat-grid-tile
 class="timeline-grid-disable"
 [colspan]="20"
 [rowspan]="1"
>
</mat-grid-tile>

<mat-grid-tile
class="timeline-grid-disable"
[colspan]="20"
[rowspan]="1"
>
</mat-grid-tile>

<mat-grid-tile
class="timeline-grid-work"
[colspan]="20"
[rowspan]="1"
>
</mat-grid-tile>
<!-- final -->

 <!-- Init -->
 <mat-grid-tile
 class="timeline-grid-study"
 [colspan]="20"
 [rowspan]="1"
>
</mat-grid-tile>

<mat-grid-tile
 class="timeline-grid-disable"
 [colspan]="20"
 [rowspan]="1"
>
</mat-grid-tile>

<mat-grid-tile
class="timeline-grid-disable"
[colspan]="20"
[rowspan]="1"
>
</mat-grid-tile>

<mat-grid-tile
class="timeline-grid-work"
[colspan]="20"
[rowspan]="1"
>
</mat-grid-tile>
<!-- final -->


    </mat-grid-list>
  </div>
</div>
