.container {
  width: 100%;
  height: auto;
}

header {
  background-image: url("../../../assets/backgroud-home.jpg");
  background-size: cover;
  background-position: center;
  height: 20em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.header-title {
  margin-left: 1em;
  font-family: 'Aldrich';
  font-size: 4.5em;
  color: white;
  text-shadow: 5px 5px black;
}

.content{
  width: 80%;
  margin: 2rem auto 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.title{
  font-weight: 500;
  font-size: 1.7rem;
}

.backspace{
  margin-right: 2rem;
}

.text{
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.emphasis{
  color: brown;
  font-weight: 500 ;
}

@media only screen and (max-width:768px){
  .header{
    height: 50vh;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .header-title{
    font-size: 3em;
    margin-left: .5rem;
  }

  .content{
    width: 92%;
  }

}
