<div class="container">
  <header class="header">
    <h1 class="header-title">SOBRE MIM</h1>
  </header>

  <div class="content">
    <span class="title">Um pouco sobre mim...</span>
    <p class="text">
      <span class="backspace"></span>Meu nome é
      <span class="emphasis">Douglas Ferreira da Silva</span>, nasci na cidade
      de Mairinque/SP em 1991. Estarei concluíndo em outubro de 2022 uma
      graduação de
      <span class="emphasis">análise e desenvolvimento de sistemas</span>, sou
      graduado também em <span class="emphasis">Automação Industrial</span> e
      <span class="emphasis">técnico em eletroeletrônica</span>. Trabalhei por 3
      anos na área de <span class="emphasis">docência</span> na escola SENAI da
      cidade de Alumínio/SP em diversas unidades curriculares de cursos
      técnicos, aprendizagem industrial e formação continuada relacionadas a
      <span class="emphasis">eletroeletrônica</span> e um pouco na área de
      <span class="emphasis">tecnologia da informação</span>. Trabalhei também
      por aproximadamente 8 anos na área elétrica, instrumentação e sistemas
      elétricos de potência na
      <span class="emphasis">Companhia Brasileira de Alumínio.</span>
    </p>
    <p class="text">
      <span class="backspace"></span>Atualmente busco uma oportunidade de
      trabalho na área de desenvolvimento, onde tenho como linguagem para
      <span class="emphasis">back-end</span> o Java, utilizando o
      <span class="emphasis"
        >framework Spring (Spring Boot, Spring Web, Spring security, Spring
        JPA)</span
      >
      e o para o <span class="emphasis">front-end</span> tenho utilizado o
      framework <span class="emphasis">Angular</span>.
    </p>
    <p class="text">
      <span class="backspace"></span>Sempre que posso gosto muito
      de estudar e conhecer novas tecnologias, tendo como objetivo me aprofundar cada vez mais
      nas ferramentas para desenvolvimento de sistemas, tendo em mente que a
      área de desenvolvimento requer esforço e estudo contínuo.
    </p>
  </div>
</div>
